PORT=3001

# Spotify API Credentials
SPOTIFY_CLIENT_ID=tu_client_id_aqui
SPOTIFY_CLIENT_SECRET=tu_client_secret_aqui

# Database (Dejar vacío para usar JSON local en desarrollo)
DATABASE_URL=postgresql://user:password@host:port/dbname

# Environment
NODE_ENV=development

# YouTube Extraction
YOUTUBE_COOKIES_PATH=cookies.txt
# Para producción (Render/Vercel), colocar el contenido del archivo en Base64
YOUTUBE_COOKIES_BASE64=
